USE [master]
GO
/****** Object:  Database [PharmacyMedicineDB]    Script Date: 12/27/2020 7:08:00 PM ******/
CREATE DATABASE [PharmacyMedicineDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PharmacyMedicineDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\PharmacyMedicineDB.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PharmacyMedicineDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\PharmacyMedicineDB_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PharmacyMedicineDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PharmacyMedicineDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/27/2020 7:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 12/27/2020 7:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 12/27/2020 7:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Subject] [nvarchar](max) NULL,
	[Message] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MedicineInformations]    Script Date: 12/27/2020 7:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicineInformations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MedicineName] [nvarchar](max) NULL,
	[Price] [nvarchar](max) NULL,
	[Disease] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.MedicineInformations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Medicines]    Script Date: 12/27/2020 7:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Problems] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Medicines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderLists]    Script Date: 12/27/2020 7:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderLists](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[MobileNumber] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[MedicineName] [nvarchar](max) NULL,
	[MedicineAmount] [int] NOT NULL,
	[Price] [nvarchar](max) NULL,
	[TotalPrice] [nvarchar](max) NULL,
	[Date] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.OrderLists] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pharmacies]    Script Date: 12/27/2020 7:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pharmacies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PharmacyName] [nvarchar](max) NULL,
	[Adress] [nvarchar](max) NULL,
	[Mobile] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Pharmacies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PharmacyMedicines]    Script Date: 12/27/2020 7:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PharmacyMedicines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MedicineName] [nvarchar](max) NULL,
	[Price] [nvarchar](max) NULL,
	[Disease] [nvarchar](max) NULL,
	[PharmacyId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PharmacyMedicines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Problems]    Script Date: 12/27/2020 7:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Problems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Problems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Registers]    Script Date: 12/27/2020 7:08:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PharmacyName] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[PhoneNo] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Registers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Id], [Email], [Password]) VALUES (1, N'adG7f0v1aKXDFCgZSm+Z1w==', N'E1-0A-DC-39-49-BA-59-AB-BE-56-E0-57-F2-0F-88-3E')
SET IDENTITY_INSERT [dbo].[Admins] OFF
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([Id], [FirstName], [LastName], [Email], [Subject], [Message]) VALUES (1, N'Sonia', N'Akther', N'sonia@gmail.com', N'Bad delivery', N'please, change your delivery boy')
SET IDENTITY_INSERT [dbo].[Contacts] OFF
SET IDENTITY_INSERT [dbo].[MedicineInformations] ON 

INSERT [dbo].[MedicineInformations] ([Id], [MedicineName], [Price], [Disease]) VALUES (1, N'Ace', N'20 BDT', N'Fever')
SET IDENTITY_INSERT [dbo].[MedicineInformations] OFF
SET IDENTITY_INSERT [dbo].[Medicines] ON 

INSERT [dbo].[Medicines] ([Id], [Name], [Problems]) VALUES (1, N'Napa', N'1,2')
INSERT [dbo].[Medicines] ([Id], [Name], [Problems]) VALUES (2, N'Zenin', N'3,4')
SET IDENTITY_INSERT [dbo].[Medicines] OFF
SET IDENTITY_INSERT [dbo].[OrderLists] ON 

INSERT [dbo].[OrderLists] ([Id], [CustomerName], [Email], [MobileNumber], [Address], [MedicineName], [MedicineAmount], [Price], [TotalPrice], [Date]) VALUES (1, N'Rafiq', N'rafiq@gmail.com', N'01234567892', N'kotuali', N'Paracetamol', 2, N'30', N'60 BDT', N'08/17/2020')
SET IDENTITY_INSERT [dbo].[OrderLists] OFF
SET IDENTITY_INSERT [dbo].[PharmacyMedicines] ON 

INSERT [dbo].[PharmacyMedicines] ([Id], [MedicineName], [Price], [Disease], [PharmacyId]) VALUES (1, N'Ace', N'20 BDT', N'Fever', 1)
INSERT [dbo].[PharmacyMedicines] ([Id], [MedicineName], [Price], [Disease], [PharmacyId]) VALUES (2, N'Paracitamle', N'30 BDT', N'Fever', 1)
SET IDENTITY_INSERT [dbo].[PharmacyMedicines] OFF
SET IDENTITY_INSERT [dbo].[Problems] ON 

INSERT [dbo].[Problems] ([Id], [Name]) VALUES (1, N'Fever')
INSERT [dbo].[Problems] ([Id], [Name]) VALUES (2, N'Headache')
INSERT [dbo].[Problems] ([Id], [Name]) VALUES (3, N'Runny nose')
SET IDENTITY_INSERT [dbo].[Problems] OFF
SET IDENTITY_INSERT [dbo].[Registers] ON 

INSERT [dbo].[Registers] ([Id], [PharmacyName], [Address], [PhoneNo], [Email], [Password]) VALUES (1, N'pegxLA/2VahVH4Qit0SF6w==', N'mzzciVVQJQiNlf6/J6dgZg==', N'IaZDdyrVx3yOABT2pFJTlw==', N'adG7f0v1aKXDFCgZSm+Z1w==', N'E1-0A-DC-39-49-BA-59-AB-BE-56-E0-57-F2-0F-88-3E')
SET IDENTITY_INSERT [dbo].[Registers] OFF
USE [master]
GO
